body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  background-color: black;
  color:#75f802;
  text-align: center;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

a {
  font-size: 3vh;
  color: hotpink; 
}

a:hover {
  cursor: pointer;
  filter: brightness(120%)
}

label {
  color: aquamarine;
  font-size: 4vh;
}

input {
  background-color: black;
  border: 2px solid aquamarine;
  color: aquamarine;
  padding: 8px 16px;
  margin: 3px;
}

select {
  background-color: black;
  color: aquamarine;
  border: 2px solid aquamarine;
  padding: 8px 16px;
  margin: 3px;
}

button {
  appearance: none;
  background-color: black;
  border: 10px solid rgb(201, 184, 246);
  box-sizing: border-box;
  color: aquamarine;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

/* background-color: rgb(201, 184, 246); */